#head{
    background-image: url(xzarkpp3.png);
    background-size: cover;
    color: rgb(250, 245, 245);
}

#p1{
    color: yellow;
}

#p2{
    color: rgb(16, 16, 15);
}

#img{
    background-image: url(xzarkpp3.png);
    background-size: cover;
    color: rgb(243, 237, 237);
}
