#cover{
    background-image: url(xzarkpp3.png);
    background-size: cover;
    color: rgb(3, 3, 3);
}
#footer{
    background-image: url(xzarkpp3.png);
    background-size: cover;
    color: rgb(3, 3, 3);
}